.logo {
  padding: 20px;
  margin-left: -20px;

  display: inline;
}

.logo:hover {
  transform: scale(1.05, 1.05);
}

.logoLink {
  width: 410px;
  height: 200px;
  margin: 0 auto 20px;
}

.layoutContainer {
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Or any desired height */
}

.main {
  flex-grow: 1;
}
