.logo {
  padding: 20px;
  margin-left: -20px;

  display: inline;

  animation: 0.4s forwards zoom-out;
}

.logo:hover {
  animation: 0.4s forwards zoom-in;
}

.logoLink {
  width: 410px;
  height: 200px;
  margin: 0 auto 20px;
}

.layoutContainer {
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Or any desired height */
}

.main {
  flex-grow: 1;
}

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
