.linkGuessPal {
  margin: 10px 20px 10px;

  height: 90px;

  width: 140px;

  font-size: 30px;
  font-weight: 600;

  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  justify-content: center;
  vertical-align: center;

  background-color: rgba(112, 184, 255, 0.9);

  box-shadow: 0 0 4px black;

  border-radius: 6px;
}

.linkGuessPal:hover {
  background-color: rgba(101, 177, 253, 0.95);
  transform: scale(1.05, 1.05);
}
